HELP.md
# Ignore target directories entirely
target/

# Keep only Maven wrapper jar
!.mvn/wrapper/maven-wrapper.jar

# Ignore all class files
*.class

# Ignore all application properties except dev versions
application.properties
!application-dev.properties


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


