# Default ignored files
/shelf/
/workspace.xml
# Ignore target directories entirely
target/

# Keep only Maven wrapper jar
!.mvn/wrapper/maven-wrapper.jar

# Ignore all class files
*.class

# Ignore all application properties
application.properties


